In [1]:
import pandas as pd
import numpy as np

In [3]:
a=pd.read_csv('reviews.csv')

In [2]:
b=pd.read_csv('beers.csv')

In [5]:
f=pd.read_csv('breweries.csv')

In [38]:
a.columns

Index(['beer_id', 'username', 'date', 'text', 'look', 'smell', 'taste', 'feel',
       'overall', 'score'],
      dtype='object')

In [40]:
a.drop(['date','text'],axis=1,inplace=True)

In [50]:
a.to_csv('score.csv',header=True)

In [51]:
a.head()

   beer_id         username  look  smell  taste  feel  overall  score
0   271781     bluejacket74  4.00   4.00   4.00  4.25     4.00   4.03
1   125646          _dirty_  4.50   4.50   4.50  4.50     4.50   4.50
2   125646          CJDUBYA  4.75   4.75   4.75  4.75     4.75   4.75
3   125646  GratefulBeerGuy  4.75   4.75   4.50  4.50     4.50   4.58
4   125646         LukeGude  4.25   4.50   4.25  4.25     4.25   4.31

In [32]:
b.head()

,id,name,brewery_id,state,country,style,availability,abv,notes,retired
0,202522,Olde Cogitator,2199,CA,US,English Oatmeal Stout,Rotating,7.3,No notes at this time.,f
1,82352,Konrads Stout Russian Imperial Stout,18604,NaN,NO,Russian Imperial Stout,Rotating,10.4,No notes at this time.,f
2,214879,Scottish Right,44306,IN,US,Scottish Ale,Year-round,4.0,No notes at this time.,t
3,320009,MegaMeow Imperial Stout,4378,WA,US,American Imperial Stout,Winter,8.7,Every time this year,f
4,246438,Peaches-N-Cream,44617,PA,US,American Cream Ale,Rotating,5.1,No notes at this time.,f

In [52]:
real=a[['username','beer_id','score']]

In [58]:
real[real['username']=='bluejacket74']

             username  beer_id  score
0        bluejacket74   271781   4.03
9449     bluejacket74    78043   3.62
10982    bluejacket74   225791   3.99
17441    bluejacket74    77030   3.84
17882    bluejacket74   340326   4.25
18672    bluejacket74    47658   4.97
24035    bluejacket74    47678   3.85
25282    bluejacket74    90017   4.21
25470    bluejacket74    47694   3.50
25759    bluejacket74   270612   4.10
26894    bluejacket74    96731   4.02
29314    bluejacket74    85497   4.42
29618    bluejacket74    55186   2.99
30780    bluejacket74   123834   3.83
31133    bluejacket74   154121   3.85
32594    bluejacket74    54795   4.00
42504    bluejacket74    48069   3.98
46491    bluejacket74   135595   3.95
46772    bluejacket74    76571   3.58
52498    bluejacket74    97492   3.56
55397    bluejacket74    66674   4.04
62355    bluejacket74   107708   4.49
63385    bluejacket74   180714   3.54
66710    bluejacket74    52547   3.79
67784    bluejacket74   286709   3.51
73696    bluejacket74    90471   4.21
79104    bluejacket74   244850   3.98
84769    bluejacket74    48824   3.71
96282    bluejacket74    49522   3.46
102789   bluejacket74    50443   3.72
...               ...      ...    ...
8994422  bluejacket74   206893   3.98
8995583  bluejacket74    68248   1.77
8997296  bluejacket74   320977   4.06
8997320  bluejacket74    45777   3.70
9000559  bluejacket74    78791   3.58
9002152  bluejacket74    65586   3.55
9004930  bluejacket74    98008   4.03
9007409  bluejacket74    90903   4.12
9016038  bluejacket74    65848   4.00
9017894  bluejacket74    46410   4.45
9020556  bluejacket74    76405   3.86
9021101  bluejacket74    65534   3.56
9026302  bluejacket74   252797   3.58
9027559  bluejacket74    94350   4.47
9027755  bluejacket74   183234   3.70
9029398  bluejacket74   143877   3.79
9030769  bluejacket74    68005   4.00
9032143  bluejacket74    49122   3.86
9032502  bluejacket74    46718   3.55
9040629  bluejacket74    86149   4.47
9047709  bluejacket74    47139   4.05
9049857  bluejacket74   104855   3.70
9052132  bluejacket74    47151   4.35
9055195  bluejacket74    57285   3.47
9061782  bluejacket74   285532   4.24
9065740  bluejacket74    52211   3.71
9066353  bluejacket74   223946   3.83
9066791  bluejacket74    89009   4.24
9069500  bluejacket74    99130   3.74
9072298  bluejacket74    58482   3.55

[2947 rows x 3 columns]

# Score
## 결측치 제거

In [3]:
c=pd.read_csv('score.csv')
c

,Unnamed: 0,beer_id,username,look,smell,taste,feel,overall,score
0,0,271781,bluejacket74,4.00,4.00,4.00,4.25,4.00,4.03
1,1,125646,_dirty_,4.50,4.50,4.50,4.50,4.50,4.50
2,2,125646,CJDUBYA,4.75,4.75,4.75,4.75,4.75,4.75
3,3,125646,GratefulBeerGuy,4.75,4.75,4.50,4.50,4.50,4.58
4,4,125646,LukeGude,4.25,4.50,4.25,4.25,4.25,4.31
5,5,125646,jneff33,4.50,4.75,5.00,5.00,5.00,4.91
6,6,125646,yummybeer,4.75,4.50,4.75,4.75,4.75,4.69
7,7,125646,MFMB,4.75,4.50,4.50,4.50,4.50,4.52
8,8,125646,wwoj,5.00,4.75,4.50,4.50,4.50,4.59
9,9,125646,Rubenjr,4.75,4.50,4.50,4.75,4.50,4.54
10,10,125646,jshusc,4.50,4.75,4.50,4.50,4.50,4.56
11,11,125646,wfreitag,4.75,4.75,4.75,4.75,4.75,4.75
12,12,125646,RollTide7,4.50,4.50,4.75,4.50,4.75,4.65
13,13,125646,jngrizzaffi,4.50,4.50,4.50,4.75,4.50,4.53
14,14,125646,MBruckerATC,5.00,5.00,5.00,5.00,5.00,5.00
15,15,125646,PDOR1960,4.50,4.50,4.50,4.50,4.50,4.50
16,16,125646,hankf44,4.75,4.75,4.75,5.00,4.75,4.78
17,17,125646,JNickerson12,5.00,5.00,5.00,5.00,5.00,5.00
18,18,125646,Chackman151,5.00,5.00,5.00,5.00,5.00,5.00
19,19,125646,Lucular,4.25,4.25,4.25,4.25,4.25,4.25
20,20,125646,ColForbinBC,4.25,4.25,4.50,4.50,4.25,4.38
21,21,125646,atomicnemesis,4.25,4.50,4.25,4.25,4.25,4.31
22,22,125646,Mattybuchs,5.00,5.00,5.00,5.00,5.00,5.00
23,23,125646,goblue30,4.50,4.50,4.50,4.50,4.50,4.50
24,24,125646,Lcoblentz,5.00,4.75,4.75,4.75,4.75,4.77
25,25,125646,ekobrien,4.50,4.50,4.50,4.50,4.50,4.50
26,26,205644,West_Chester_Ale_Tester,4.00,4.00,3.75,3.75,4.00,3.88
27,27,205644,SMH_NWI,4.00,4.00,3.50,3.50,3.75,3.70
28,28,205644,Brutaltruth,4.00,3.75,4.00,3.75,4.00,3.92
29,29,205644,SaisonRichBiere,3.75,3.75,3.50,3.75,3.75,3.65
...,...,...,...,...,...,...,...,...,...
9073098,9073098,104824,johnhiltz,NaN,NaN,NaN,NaN,NaN,4.50
9073099,9073099,104824,legend8706,NaN,NaN,NaN,NaN,NaN,4.75
9073100,9073100,104824,CPAles,NaN,NaN,NaN,NaN,NaN,3.75
9073101,9073101,104824,CraftBeerforBrains,NaN,NaN,NaN,NaN,NaN,4.75
9073102,9073102,104824,Gheen,NaN,NaN,NaN,NaN,NaN,4.50
9073103,9073103,104824,bryang002,NaN,NaN,NaN,NaN,NaN,4.25
9073104,9073104,104824,edmaher,NaN,NaN,NaN,NaN,NaN,4.50
9073105,9073105,104824,masterofsparks,NaN,NaN,NaN,NaN,NaN,4.00
9073106,9073106,104824,solo103,NaN,NaN,NaN,NaN,NaN,4.75
9073107,9073107,104824,DanGeo,NaN,NaN,NaN,NaN,NaN,4.25
9073108,9073108,104824,firstlighthiker,NaN,NaN,NaN,NaN,NaN,4.45
9073109,9073109,104824,77apm,NaN,NaN,NaN,NaN,NaN,4.25
9073110,9073110,104824,zookerman182,4.25,4.75,4.25,4.00,4.25,4.35
9073111,9073111,104824,TDA8,NaN,NaN,NaN,NaN,NaN,4.75
9073112,9073112,104824,HartsyThaiFood,NaN,NaN,NaN,NaN,NaN,4.50
9073113,9073113,104824,bleedsblu,NaN,NaN,NaN,NaN,NaN,4.00
9073114,9073114,104824,Hesscabob,4.00,5.00,4.75,4.25,4.50,4.67
9073115,9073115,104824,Thebrianeffect,NaN,NaN,NaN,NaN,NaN,4.50
9073116,9073116,104824,Mersh,NaN,NaN,NaN,NaN,NaN,4.50
9073117,9073117,104824,Zonian1,NaN,NaN,NaN,NaN,NaN,4.50
9073118,9073118,104824,dtomes,NaN,NaN,NaN,NaN,NaN,4.50
9073119,9073119,104824,WCW,NaN,NaN,NaN,NaN,NaN,4.50
9073120,9073120,104824,Hopheadhiker,NaN,NaN,NaN,NaN,NaN,4.50
9073121,9073121,104824,BeerBucks,NaN,NaN,NaN,NaN,NaN,4.50
9073122,9073122,104824,yoitsarch,NaN,NaN,NaN,NaN,NaN,4.50
9073123,9073123,104824,CTJman,NaN,NaN,NaN,NaN,NaN,4.00
9073124,9073124,104824,IMSPEAKNOENGLISH,NaN,NaN,NaN,NaN,NaN,5.00
9073125,9073125,104824,twizzard,NaN,NaN,NaN,NaN,NaN,5.00
9073126,9073126,104824,bootdown21,NaN,NaN,NaN,NaN,NaN,4.50
9073127,9073127,104824,Brensol,NaN,NaN,NaN,NaN,NaN,4.75

In [30]:
c.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9073128 entries, 0 to 9073127
Data columns (total 9 columns):
Unnamed: 0    int64
beer_id       int64
username      object
look          float64
smell         float64
taste         float64
feel          float64
overall       float64
score         float64
dtypes: float64(6), int64(2), object(1)
memory usage: 623.0+ MB

In [4]:
#username이 na => missing 으로 변경
c['username'].fillna('missing',inplace=True)

In [5]:
#username이 na인행 삭제
c.drop(c[c['username']=='missing'].iloc[:,0],inplace=True)

In [6]:
#나머지 na인행 삭제
c.fillna(-1,inplace=True)
c.drop(c[c['overall']==-1].iloc[:,0],inplace=True)

In [6]:
c.isnull().sum()

Unnamed: 0    0
beer_id       0
username      0
look          0
smell         0
taste         0
feel          0
overall       0
score         0
dtype: int64

## 리뷰가 100개 이상 존재하는 username만 추출해서 정리

In [29]:
c.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5281976 entries, 0 to 9073114
Data columns (total 9 columns):
Unnamed: 0    int64
beer_id       int64
username      object
look          float64
smell         float64
taste         float64
feel          float64
overall       float64
score         float64
dtypes: float64(6), int64(2), object(1)
memory usage: 403.0+ MB

In [70]:
c['username'].unique()

110504

In [211]:
c['username'].value_counts()

StonedTrippin            10578
Sammy                    10189
UCLABrewN84               9894
kylehay2004               8301
Knapp85                   8289
metter98                  7814
superspak                 7244
BEERchitect               6972
biboergosum               6827
brentk56                  6740
jaydoc                    6516
kojevergas                6410
acurtis                   6305
zeff80                    6179
emerge077                 6142
Phyl21ca                  5992
jlindros                  5881
Gkruszewski               5773
Texasfan549               5742
NeroFiddled               5695
dbrauneis                 5565
oline73                   5408
oriolesfan4               5385
GRG1313                   5368
mothman                   5365
oberon                    5346
TheManiacalOne            5326
chinchill                 5298
kjkinsey                  5184
woodychandler             5171
                         ...
Cocktailz37                  1
berksowl                     1
CMT66                        1
matador677                   1
Musselman                    1
phillygeoff                  1
gemig                        1
Pstaley65                    1
jollycolombiano              1
djehall                      1
Agreen32                     1
Gigfy961                     1
CeliaGeorge                  1
JesseLV                      1
ewhugh                       1
JCaliguire                   1
BelgianDrinker               1
MichaelPawluk                1
September                    1
BigRedDogUM                  1
mbreen                       1
ExpendableCrewman            1
theaveragebeerdrinker        1
Thebio2                      1
Josh-Gillette                1
morhopsplz                   1
smerendino_7825              1
hajenaD                      1
zev                          1
Rucker1209                   1
Name: username, Length: 110504, dtype: int64

In [7]:
a=c['username'].value_counts().reset_index().iloc[:9012,:]
a=a['index']

In [8]:
a=a.values

In [19]:
a=pd.DataFrame(a)
a.columns=['username']

In [23]:
k=pd.merge(c,a)

StonedTrippin       10578
Sammy               10189
UCLABrewN84          9894
kylehay2004          8301
Knapp85              8289
metter98             7814
superspak            7244
BEERchitect          6972
biboergosum          6827
brentk56             6740
jaydoc               6516
kojevergas           6410
acurtis              6305
zeff80               6179
emerge077            6142
Phyl21ca             5992
jlindros             5881
Gkruszewski          5773
Texasfan549          5742
NeroFiddled          5695
dbrauneis            5565
oline73              5408
oriolesfan4          5385
GRG1313              5368
mothman              5365
oberon               5346
TheManiacalOne       5326
chinchill            5298
kjkinsey             5184
woodychandler        5171
                    ...
Skipple               100
akward                100
One1Asterisk          100
Amsterdallas          100
bhyndthebottle        100
LeftyMike             100
skillerified          100
WuBByG999             100
IronTom               100
sbuck                 100
joshstevens87         100
Drewcifer             100
scootpolute           100
bccrosley             100
hudsonvalleyslim      100
lattydaddy07          100
DrewBest              100
Bitter_Echo           100
KonigObHops           100
Chris_Gannon          100
twi1609372            100
chiefydawg            100
UnderStageMan         100
Holopirek             100
cnagle28              100
Tinfang               100
Bob_Rhoades           100
drunkmonk             100
Wamesit               100
asams10               100
Name: username, Length: 9012, dtype: int64

In [30]:
k.columns

Index(['Unnamed: 0', 'beer_id', 'username', 'look', 'smell', 'taste', 'feel',
       'overall', 'score'],
      dtype='object')

In [35]:
k.drop(['Unnamed: 0'],axis=1,inplace=True)

In [36]:
k.to_csv('new_df.csv',header=True)

## 사용할 데이터 다시 정제

In [10]:
#사용할 데이터
n=pd.read_csv('new_df.csv')

In [33]:
n.head()

   Unnamed: 0  beer_id      username  look  smell  taste  feel  overall  score
0           0   271781  bluejacket74  4.00   4.00    4.0  4.25     4.00   4.03
1           1    78043  bluejacket74  3.50   4.00    3.5  3.50     3.50   3.62
2           2   225791  bluejacket74  4.25   4.00    4.0  3.75     4.00   3.99
3           3    77030  bluejacket74  3.50   3.75    4.0  3.75     3.75   3.84
4           4    47658  bluejacket74  4.50   5.00    5.0  5.00     5.00   4.97

In [11]:
n.drop(['Unnamed: 0'],axis=1,inplace=True)

In [27]:
n.shape

(4403885, 8)

In [53]:
new=n.sample(1000000)

In [54]:
#100개로 추출했음에도 데이터가 너무많아서 다시한번 평점수, 평가된 맥주수가 1000이상인 것만 추출
us=list(n['username'].value_counts()[lambda x:x>=1000].index)
new=n[n['username'].isin(us)]

In [55]:
new.shape

(1942385, 8)

In [56]:
new.username.value_counts()

StonedTrippin      10578
Sammy              10189
UCLABrewN84         9894
kylehay2004         8301
Knapp85             8289
metter98            7814
superspak           7244
BEERchitect         6972
biboergosum         6827
brentk56            6740
jaydoc              6516
kojevergas          6410
acurtis             6305
zeff80              6179
emerge077           6142
Phyl21ca            5992
jlindros            5881
Gkruszewski         5773
Texasfan549         5742
NeroFiddled         5695
dbrauneis           5565
oline73             5408
oriolesfan4         5385
GRG1313             5368
mothman             5365
oberon              5346
TheManiacalOne      5326
chinchill           5298
kjkinsey            5184
woodychandler       5171
                   ...
bmwats              1027
Hoptometrist        1026
drmeto              1025
OnryAndMean         1024
gcamparone          1024
facundoCNB          1024
PBRmeasap1980       1023
Wer34truh           1022
Urk1127             1022
JohnnyHopps         1022
Yancey82            1021
Pens1967            1020
misternebbie        1015
kbutler1            1013
ivegot3Dvision      1013
heerboth            1012
Gregf51             1012
brocktune           1012
groleau             1010
cyrushire           1007
kingcrowing         1005
DerwinWentworth     1002
Cresant             1002
durlta              1001
generallee          1001
curlybird           1001
RichH55             1001
mschrei             1000
siege06nd           1000
jwinship83          1000
Name: username, Length: 1006, dtype: int64

----------------------------------

In [6]:
use=n[['beer_id', 'username', 'score']]

In [19]:
use.shape

(4403885, 3)

In [13]:
df=use.take(np.random.permutation(len(use))[:5000])

In [15]:
from sklearn.model_selection import train_test_split

from surprise import Dataset
from surprise import Reader
from surprise.model_selection import cross_validate
from surprise import SVD
from surprise.model_selection import cross_validate, KFold
from surprise.model_selection import GridSearchCV

In [17]:
reader = Reader()

data = Dataset.load_from_df(df[['username', 'beer_id', 'score']], reader) #순서주의, 그리고 data는 df가아님.surprise패키지사용한거라서

trainset = data.build_full_trainset()

testset = trainset.build_anti_testset()

In [21]:
#데이터차원축소-SVD이용. RMSE가장적은걸로
param_grid = {'n_epochs': [5, 10], 'lr_all': [0.002, 0.005],
              'reg_all': [0.4, 0.6]}

gs = GridSearchCV(SVD, param_grid, measures=['rmse', 'mae'], cv=3)

gs.fit(data)

# best RMSE score?
print(gs.best_score['rmse'])

# combination of parameters that gave the best RMSE score?
print(gs.best_params['rmse'])

0.5102055068853592
{'n_epochs': 10, 'lr_all': 0.005, 'reg_all': 0.6}

In [22]:
algo = gs.best_estimator['rmse'] 

predictions = algo.fit(trainset).test(testset) #test set을 넣어서 예측한값.

In [24]:
#uid=user, iid=item, r_ui=true_value(???), est=estimated_value, details=details
prediction_df = pd.DataFrame(predictions, columns=['user_id', 'beer_id', 'true_value', 'estimated_value', 'details'])

In [45]:
prediction_df.head()

,user_id,beer_id,true_value,estimated_value,details
0,misternebbie,29209,3.894462,3.782657,{'was_impossible': False}
1,misternebbie,2479,3.894462,3.804297,{'was_impossible': False}
2,misternebbie,73173,3.894462,3.854532,{'was_impossible': False}
3,misternebbie,152408,3.894462,3.956861,{'was_impossible': False}
4,misternebbie,72363,3.894462,3.830204,{'was_impossible': False}

In [47]:
prediction_df['error'] = abs(prediction_df.estimated_value - prediction_df.true_value)
prediction_df = prediction_df.drop(['details'], 1)

In [48]:
prediction_df.head()

        user_id  beer_id  true_value  estimated_value     error
0  misternebbie    29209    3.894462         3.782657  0.111805
1  misternebbie     2479    3.894462         3.804297  0.090165
2  misternebbie    73173    3.894462         3.854532  0.039930
3  misternebbie   152408    3.894462         3.956861  0.062399
4  misternebbie    72363    3.894462         3.830204  0.064258

----------------

# Item-based Near Neighborhood Collaborate Filtering

In [165]:
n.username.value_counts()

UCLABrewN84        2505
BEERchitect        2504
Knapp85            2490
superspak          2439
StonedTrippin      2423
metter98           2400
brentk56           2354
Sammy              2238
zeff80             2106
TheManiacalOne     2072
russpowell         2036
Smakawhat          1880
jlindros           1870
kojevergas         1833
oberon             1792
Wasatch            1770
kylehay2004        1749
NeroFiddled        1715
dbrauneis          1700
mikesgroove        1691
ChainGangGuy       1690
WVbeergeek         1688
Gkruszewski        1685
paulish            1681
BEER88             1667
mothman            1648
billab914          1647
jwc215             1646
smcolw             1639
Phyl21ca           1638
                   ...
Sparky44            316
drmeto              311
imperialking        307
EmperorBevis        305
Blazer22            298
Mattias             295
Corson              295
kiki3drt292         294
stcules             291
WDJersey            286
pootz               281
SocalKicks          280
drewone             279
DrMindbender        277
samEBC              268
TerryW              267
psmith161           264
Dentist666          256
greenspointexas     251
desint              250
LoveStout           243
Electros            227
CheapBeerBuzz       226
leaddog             222
Coronaeus           221
LampertLand         194
RedDiamond          189
Whatup14            184
groleau             173
Bunman3             153
Name: username, Length: 1006, dtype: int64

In [43]:
#칼럼명 변경
n.columns=['beerid','userid','look', 'smell', 'taste', 'feel', 'overall','rating']
n.head()

    beerid        userid  look  smell  taste  feel  overall  rating
4    47658  bluejacket74  4.50    5.0   5.00  5.00     5.00    4.97
19   66674  bluejacket74  4.25    4.0   4.00  4.25     4.00    4.04
25   48824  bluejacket74  4.50    3.5   3.50  4.00     4.00    3.71
37   55939  bluejacket74  4.00    4.0   4.00  4.00     4.50    4.10
62   68916  bluejacket74  4.75    4.5   4.25  4.25     4.25    4.34

In [52]:
n['userid'].value_counts()

BEERchitect         461
superspak           456
Knapp85             446
Smakawhat           445
StonedTrippin       443
UCLABrewN84         437
TheManiacalOne      436
brentk56            436
metter98            430
Sammy               427
BEER88              424
zeff80              417
Wasatch             416
russpowell          414
Phyl21ca            405
kojevergas          404
spinrsx             404
rodbeermunch        394
dbrauneis           388
mdaschaf            386
WVbeergeek          386
oberon              384
Billolick           384
jwc215              383
Thorpe429           382
clayrock81          381
Jwale73             380
rfgetz              379
drabmuh             379
Eziel               375
                   ...
Dactrius             65
wisrarebeer          65
IrishColonial        63
SimcoeKid            63
Texasfan549          62
sendbeer             61
RedDiamond           61
WDJersey             60
suckaj               58
kiki3drt292          57
greenspointexas      56
Whatup14             55
groleau              55
djrn2                55
mportnoy             54
jzlyo                53
drewone              52
chippo33             51
enelson              51
outoffocus           50
mendvicdog           50
Sparky44             49
spycow               49
eawolff99            49
Cynic-ale            44
CheapBeerBuzz        44
westcoastbeerlvr     40
SocalKicks           33
imperialking         29
LoveStout            20
Name: userid, Length: 1006, dtype: int64

In [53]:
#사용자 로우, 맥주 컬럼으로 구성된 매트릭스로 변환
ratings=n[['userid','beerid','rating']]
ratings_matrix=ratings.pivot_table('rating',index='userid',columns='beerid')
ratings_matrix.head()

beerid,6,30,31,33,34,39,59,61,63,65,...,178857,179482,181572,182256,187317,189272,197183,202078,211516,221289
userid,,,,,,,,,,,,,,,,,,,,,
1971bernat,3.00,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,...,3.00,NaN,NaN,NaN,1.50,4.50,NaN,NaN,NaN,NaN
22Blue,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.50,...,NaN,NaN,4.14,3.81,3.75,4.24,3.85,4.19,4.21,4.21
2beerdogs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.75,3.85,NaN,NaN,3.69,NaN,NaN,4.23,NaN,NaN
4DAloveofSTOUT,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,...,NaN,NaN,4.26,4.00,4.03,4.49,4.10,NaN,NaN,NaN
57md,3.69,NaN,NaN,NaN,3.63,NaN,NaN,NaN,4.0,2.18,...,3.98,NaN,3.94,3.94,3.69,4.68,3.48,4.18,NaN,NaN

In [58]:
#title칼럼을 얻기위해 beers와 join
b.columns=['beerid', 'title', 'brewery_id', 'state', 'country', 'style', 'availability','abv', 'notes', 'retired']
rating_beers=pd.merge(ratings,b,on='beerid')
rating_beers.head()

,userid,beerid,rating,title,brewery_id,state,country,style,availability,abv,notes,retired
0,bluejacket74,47658,4.97,CBS (Canadian Breakfast Stout),1199,MI,US,American Imperial Stout,Rotating,11.7,Canadian Breakfast Stout (CBS) is the epitome ...,f
1,Lucular,47658,4.37,CBS (Canadian Breakfast Stout),1199,MI,US,American Imperial Stout,Rotating,11.7,Canadian Breakfast Stout (CBS) is the epitome ...,f
2,ColForbinBC,47658,4.55,CBS (Canadian Breakfast Stout),1199,MI,US,American Imperial Stout,Rotating,11.7,Canadian Breakfast Stout (CBS) is the epitome ...,f
3,West_Chester_Ale_Tester,47658,4.55,CBS (Canadian Breakfast Stout),1199,MI,US,American Imperial Stout,Rotating,11.7,Canadian Breakfast Stout (CBS) is the epitome ...,f
4,SaisonRichBiere,47658,4.48,CBS (Canadian Breakfast Stout),1199,MI,US,American Imperial Stout,Rotating,11.7,Canadian Breakfast Stout (CBS) is the epitome ...,f

In [59]:
ratings_matrix=rating_beers.pivot_table('rating',index='userid',columns='title')
ratings_matrix.head()

title,#9,120 Minute IPA,1554 Black Lager,2XIPA,30th Anniversary Ale,312 Urban Wheat,420 Extra Pale Ale,60 Minute IPA,90 Minute IPA,A Little Sumpin' Sumpin' Ale,...,Wisconsin Belgian Red,Wookey Jack,World Wide Stout,Yellow Rose,Yeti Imperial Stout,Young's Double Chocolate Stout,Yuengling Traditional Lager,Zombie Dust,§ucaba,Éphémère (Apple)
userid,,,,,,,,,,,,,,,,,,,,,
1971bernat,NaN,NaN,3.5,NaN,NaN,NaN,NaN,4.00,4.50,NaN,...,NaN,3.00,NaN,NaN,3.00,NaN,NaN,NaN,4.50,NaN
22Blue,2.92,NaN,NaN,NaN,4.14,NaN,3.85,NaN,NaN,NaN,...,NaN,NaN,NaN,4.22,NaN,NaN,3.54,NaN,NaN,NaN
2beerdogs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.08,...,4.19,NaN,NaN,4.03,NaN,3.94,NaN,3.12,4.47,NaN
4DAloveofSTOUT,3.57,3.68,NaN,NaN,4.26,NaN,NaN,NaN,NaN,NaN,...,4.30,4.28,4.0,3.86,4.05,NaN,NaN,4.31,4.42,NaN
57md,3.56,3.79,NaN,NaN,3.94,3.47,NaN,4.07,4.57,4.18,...,NaN,4.45,3.8,NaN,NaN,4.29,3.06,NaN,NaN,NaN

In [62]:
n[n['beerid']==299]

         beerid            userid  look  smell  taste  feel  overall  rating
431         299      bluejacket74  3.50   3.00   2.50  3.00     2.50    2.73
3129        299   GratefulBeerGuy  3.00   3.00   2.50  3.00     2.50    2.70
9269        299           Lucular  3.75   3.75   4.00  3.75     3.75    3.85
11178       299       ColForbinBC  3.00   3.00   3.50  3.50     3.50    3.35
19908       299       secondtooth  3.50   3.50   4.00  3.00     3.00    3.55
22520       299             Derek  4.00   3.50   3.50  4.00     3.50    3.58
30446       299          Phyl21ca  1.00   2.00   1.50  2.00     2.00    1.74
41305       299       biboergosum  4.00   3.50   3.50  3.50     3.50    3.53
55110       299           BigMike  3.00   3.50   2.50  3.00     3.00    2.92
63203       299            aasher  3.00   3.00   2.00  3.00     2.50    2.50
72796       299           Zuidman  2.75   2.75   2.75  2.75     2.75    2.75
83547       299      rodbeermunch  3.00   3.00   1.50  1.75     2.00    2.08
88854       299      JerzDevl2000  3.50   3.00   3.00  3.50     3.50    3.18
93418       299            rfgetz  3.00   4.00   4.00  3.50     4.00    3.89
125891      299          cjgator3  3.50   3.00   3.50  4.00     3.50    3.43
128959      299     LilBeerDoctor  4.00   3.00   2.50  3.00     3.00    2.86
137277      299          Pencible  3.00   2.50   2.50  2.50     2.00    2.43
139439      299            JamesS  3.00   2.50   3.00  3.50     3.00    2.93
151074      299     woodychandler  4.00   3.50   2.50  3.00     2.50    2.88
157403      299            argock  3.00   3.00   3.50  3.50     4.00    3.45
160574      299           Knapp85  3.50   4.00   4.00  3.50     4.00    3.92
175003      299          metter98  3.00   3.50   3.50  3.00     4.00    3.52
188673      299               BdM  3.00   2.75   2.75  2.75     2.75    2.77
194932      299     LeftHanded666  3.50   3.50   4.00  3.25     3.75    3.73
196953      299         dbrauneis  4.00   3.00   3.00  3.00     3.50    3.16
202124      299           dvmin98  3.25   3.25   3.25  3.25     3.25    3.25
216677      299           DoubleJ  3.50   3.00   2.50  2.50     2.50    2.68
225877      299          Treyliff  3.75   3.50   3.25  3.50     3.25    3.37
234458      299       UCLABrewN84  3.50   3.50   3.50  3.50     3.50    3.50
243534      299          mactrail  3.00   4.50   4.00  3.50     4.00    4.01
...         ...               ...   ...    ...    ...   ...      ...     ...
3485425     299         tavernjef  4.00   3.00   3.00  3.00     3.50    3.16
3487446     299           Bighuge  4.00   3.50   3.50  4.00     3.50    3.58
3501256     299            BigBry  3.00   3.75   3.50  3.00     3.00    3.38
3529046     299           bashiba  3.50   3.50   3.00  2.50     3.00    3.10
3546928     299       BretSikkink  4.00   3.00   3.00  3.00     3.50    3.16
3564216     299        Absumaster  3.50   2.50   3.50  3.50     3.50    3.26
3570006     299     RonfromJersey  3.00   2.50   2.00  3.00     2.00    2.28
3579763     299        garymuchow  4.50   3.00   3.00  4.00     3.00    3.19
3581506     299  allergictomacros  3.00   4.00   3.00  3.50     3.00    3.29
3585830     299             Raime  4.25   2.25   2.25  3.50     2.25    2.50
3631678     299         NEhophead  3.00   2.50   2.50  3.50     3.00    2.73
3634621     299             Jayli  3.00   4.50   5.00  4.50     5.00    4.71
3641404     299         Spikester  2.75   3.75   3.00  3.25     3.25    3.24
3656970     299            albern  3.00   3.00   3.00  3.00     3.00    3.00
3774387     299             pootz  3.50   3.50   4.00  3.00     3.00    3.55
3925864     299           Cresant  2.50   3.00   2.50  3.00     2.50    2.67
3974893     299            tgbljb  4.00   4.50   4.00  4.00     4.00    4.12
4016285     299   blitheringidiot  4.00   4.50   4.00  3.00     3.50    3.92
4017465     299               JDV  3.00   3.00   3.00  3.00     3.50    3.10
4025421     299         IntriqKen  4.50   3.50   4.00  4.00     4.00    3.91
4049851     299         pmcadamis  3.50   3.50   4.00  3.50     4.50    3.90
4051378     299           kmpitz2  4.00   4.00   4.50  4.00     4.50    4.30
4115580     299           Drew966  3.50   3.50   3.50  3.50     3.50    3.50
4177882     299       GCBrewingCo  4.00   4.00   3.00  3.50     3.50    3.45
4252093     299          Dogbrick  3.00   3.50   3.00  3.00     3.50    3.22
4256742     299            marc77  4.00   3.50   3.50  3.00     4.00    3.58
4259978     299          rastaman  3.00   3.00   3.00  3.00     3.00    3.00
4265557     299         granger10  3.00   2.00   2.00  2.00     2.00    2.06
4278640     299               ADR  4.00   3.50   3.50  4.00     4.00    3.68
4302543     299             Phatz  4.00   3.50   4.00  4.00     4.00    3.88

[434 rows x 8 columns]

----------------

# 잠재적 요인 협업 필터링(surprise)

In [3]:
#다른 전처리
new=pd.read_csv('my_df.csv')

In [4]:
new.columns=['beerid','userid','rating']
ratings=new[['userid','beerid','rating']]

## Load & Train, test data split

In [59]:
new.head()

    beer          user  rating
0  47658  bluejacket74    4.97
1  66674  bluejacket74    4.04
2  48824  bluejacket74    3.71
3  55939  bluejacket74    4.10
4  68916  bluejacket74    4.34

In [117]:
new.corr()

          beer_id      look     smell     taste      feel   overall     score
beer_id  1.000000  0.160033  0.213219  0.188669  0.185904  0.168616  0.206890
look     0.160033  1.000000  0.584634  0.579225  0.614467  0.588446  0.663182
smell    0.213219  0.584634  1.000000  0.800367  0.695615  0.778164  0.897095
taste    0.188669  0.579225  0.800367  1.000000  0.778239  0.885804  0.966912
feel     0.185904  0.614467  0.695615  0.778239  1.000000  0.787165  0.843711
overall  0.168616  0.588446  0.778164  0.885804  0.787165  1.000000  0.936375
score    0.206890  0.663182  0.897095  0.966912  0.843711  0.936375  1.000000

* look.smell,taste,feel 변수와 상관도가 높은 score을 rating으로 선택

In [92]:
#칼럼명 변경 및 칼럼정리
new.columns=['beerid','userid','look', 'smell', 'taste', 'feel', 'overall','rating']
new.head()
ratings=new[['userid','beerid','rating']]

ValueError: Length mismatch: Expected axis has 3 elements, new values have 8 elements

In [110]:
import surprise
from surprise import SVD
from surprise import Dataset
from surprise import accuracy
from surprise.model_selection import train_test_split
from surprise import Reader

In [111]:
reader=Reader(rating_scale=(1.0,5.0))
data=Dataset.load_from_df(ratings[['userid','beerid','rating']],reader)
trainset, testset = train_test_split(data,test_size=.25,random_state=0)

## SVD를 이용

In [112]:
#n_factors=50
algo=SVD(n_factors=50,random_state=0)
algo.fit(trainset)
predictions=algo.test(testset)
accuracy.rmse(predictions)

RMSE: 0.3371

0.33705645097044357

In [117]:
uid=str('bluejacket74')
iid=str('-123')
algo.predict(uid,iid)

Prediction(uid='bluejacket74', iid='-123', r_ui=None, est=4.139451354645101, details={'was_impossible': False})

In [228]:
#n_factors=10
algo=SVD(n_factors=10,random_state=0)
algo.fit(trainset)
predictions=algo.test(testset)
accuracy.rmse(predictions)

RMSE: 0.4373

0.4373455903468073

## 교차검증과 하이퍼 파라미터 튜닝

In [170]:
from surprise.model_selection import cross_validate
cross_validate(algo,data,measures=['RMSE','MAE'],cv=5,verbose=True)

Evaluating RMSE, MAE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.4114  0.4061  0.4115  0.4175  0.4076  0.4108  0.0040
MAE (testset)     0.2991  0.2966  0.2985  0.2999  0.2969  0.2982  0.0013
Fit time          3.53    3.36    3.34    3.32    3.30    3.37    0.08
Test time         0.21    0.24    0.28    0.34    0.24    0.26    0.04

{'test_rmse': array([0.41141896, 0.40609358, 0.41152627, 0.41754538, 0.40761199]),
 'test_mae': array([0.29909862, 0.29663626, 0.29845797, 0.29994989, 0.29693209]),
 'fit_time': (3.532562732696533,
  3.3560307025909424,
  3.3430655002593994,
  3.315140724182129,
  3.301177740097046),
 'test_time': (0.21143388748168945,
  0.2403578758239746,
  0.2772948741912842,
  0.3361029624938965,
  0.23836302757263184)}

In [172]:
from surprise.model_selection import GridSearchCV

#최적화 파라미터 지정
param_grid={'n_epochs':[20,40,60,80],'n_factors':[10,50,100,200]}

#CV를 3개 폴드 세트로 지정, 성능평가는 rmse,mae로 수행
gs=GridSearchCV(SVD,param_grid,measures=['rmse','mae'],cv=3)
gs.fit(data)

#최고 RMSE Evaluation점수와 그때의 하이퍼 파라미터
print(gs.best_score['rmse'])
print(gs.best_params['rmse'])

0.394870938371025
{'n_epochs': 80, 'n_factors': 10}

## 구현

In [96]:
trainset=data.build_full_trainset()
algo=SVD(n_epochs=20,n_factors=50,random_state=0)
algo.fit(trainset)

In [68]:
b.columns=['beerid', 'name', 'brewery_id', 'state', 'country', 'style', 'availability','abv', 'notes', 'retired']
beers=b

In [69]:
beers.head()

,beerid,name,brewery_id,state,country,style,availability,abv,notes,retired
0,202522,Olde Cogitator,2199,CA,US,English Oatmeal Stout,Rotating,7.3,No notes at this time.,f
1,82352,Konrads Stout Russian Imperial Stout,18604,NaN,NO,Russian Imperial Stout,Rotating,10.4,No notes at this time.,f
2,214879,Scottish Right,44306,IN,US,Scottish Ale,Year-round,4.0,No notes at this time.,t
3,320009,MegaMeow Imperial Stout,4378,WA,US,American Imperial Stout,Winter,8.7,Every time this year,f
4,246438,Peaches-N-Cream,44617,PA,US,American Cream Ale,Rotating,5.1,No notes at this time.,f

In [74]:
def get_unuse_surprise(ratings,beers,userid):
    #입력값으로 들어온 userid에 해당하는 사용자가 매긴 모든 맥주를 리스트로 생성
    use_beers=ratings[ratings['userid']==userid]['beerid'].tolist()
    
    #모든 맥주의 beerid를 리스트로 생성
    total_beers=beers['beerid'].tolist()
    
    #모든 맥주의 beerid중 이미 평점을 매긴 맥주의 beerid를 제외한 후 리스트로 생성
    unuse_beers=[beer for beer in total_beers if beer not in use_beers]
    print('평점 매긴 맥주 수:',len(use_beers),'추천 대상 맥주 수:',len(unuse_beers),
         '전체 맥주 수:',len(total_beers))
    
    return unuse_beers

unuse_beers=get_unuse_surprise(ratings,beers,'bluejacket74')

평점 매긴 맥주 수: 317 추천 대상 맥주 수: 358556 전체 맥주 수: 358873

In [97]:
def recomm_beer_by_surprise(algo,userid,unuse_beers,top_n=10):
    #알고리즘 객체의 predict() 메소드를 평점이 없는 영화에 반복 수행한 후 결과를 list로 저장
    predictions=[algo.predict(str(userid),str(beerid)) for beerid in unuse_beers]
    
    #prediction list는 surprise의 Predictions객체를 원소로 갖고있음
    #이를 est값으로 정렬하기 위해 아래 sortkey_est함수를 정의
    #sortkey_est함수는 list의 sort()함수의 키 값으로 사용되어 정렬
    def sortkey_est(pred):
        return pred.est
    
    #sortkey_est() 반환값의 내림 차순으로 정렬 수행후 top_n개의 최상위 값 추출
    predictions.sort(key=sortkey_est,reverse=True)
    top_predictions=predictions[:top_n]
    
    #top_n으로 추출된 맥주의 정보추출. 맥주 id, 추천예상 평점, 이름추출
    top_beer_ids=[int(pred.iid) for pred in top_predictions]
    top_beer_rating=[pred.est for pred in top_predictions]
    top_beer_names=beers[beers.beerid.isin(top_beer_ids)]['name']
    
    top_beer_preds=[(id, name, rating) for id, name, rating in zip(top_beer_ids,top_beer_names,top_beer_rating)]
    
    return top_beer_preds

unuse_beers=get_unuse_surprise(ratings,beers,'bluejacket74')
top_beer_preds=recomm_beer_by_surprise(algo,'bluejacket74',unuse_beers,top_n=10)

print('###Top-10 추천 맥주 리스트###')
for top_beer in top_beer_preds:
   print(top_beer[1],":",top_beer[2])

평점 매긴 맥주 수: 317 추천 대상 맥주 수: 358556 전체 맥주 수: 358873
###Top-10 추천 맥주 리스트###
Olde Cogitator : 4.139094466134864
Konrads Stout Russian Imperial Stout : 4.139094466134864
Scottish Right : 4.139094466134864
MegaMeow Imperial Stout : 4.139094466134864
Peaches-N-Cream : 4.139094466134864
World Burp Beer 2002 : 4.139094466134864
Icon Sender : 4.139094466134864
Divina IPA : 4.139094466134864
Light Of The Ozarks : 4.139094466134864
Warrior's Bock : 4.139094466134864

-------

# 잠재적 요인 협업 필터링

In [ ]:
#다른 전처리
new=pd.read_csv('my_df.csv')

In [5]:
new.columns=['beerid','userid','rating']
ratings=new[['userid','beerid','rating']]

In [139]:
from sklearn.metrics import mean_squared_error

def get_rmse(R,P,Q,non_zeros):
    error=0
    
    #두개의 분해된 행렬 P와 Q.T의 내적으로 예측행렬 R 생성
    full_pred_matrix=np.dot(P,Q.T)
    
    #실제 R행렬에서 널이 아닌 값의 위치 인덱스를 추출해 실제 R행렬과 예측 행렬의 RMSE추출
    x_non_zero_ind=[non_zero[0] for non_zero in non_zeros]
    y_non_zero_ind=[non_zero[1] for non_zero in non_zeros]
    R_non_zeros=R[x_non_zero_ind,y_non_zero_ind]
    full_pred_matrix_non_zeros=full_pred_matrix[x_non_zero_ind,y_non_zero_ind]
    mse=mean_squared_error(R_non_zeros,full_pred_matrix_non_zeros)
    rmse=np.sqrt(mse)
    
    return rmse

In [140]:
def matrix_factorization(R,K,steps=200,learning_rate=0.01,r_lambda=0.01):
    num_users,num_items=R.shape
    
    #P와 Q매트릭스의 크기를 지정하고 정규분포를 가진 랜덤한 값으로 입력
    np.random.seed(1)
    P=np.random.normal(scale=1./K,size=(num_users,K))
    Q=np.random.normal(scale=1./K,size=(num_items,K))
    
    prev_rmse=10000
    break_count=0
    
    #R>0 인 행위치, 열위치, 값을 non_zeros 리스트에 저장
    non_zeros=[(i,j,R[i,j]) for i in range(num_users) for j in range(num_items) if R[i,j]>0]
    
    #SGD기법으로 P와 Q매트릭스를 계속업데이트
    for step in range(steps):
        for i,j,r in non_zeros:
            #실제값과 예측 값의 차이인 오류 값을 구함
            eij=r-np.dot(P[i,:],Q[j,:].T)
            
            #Regularization을 반영한 SGD업데이터 공식 적용
            P[i,:]=P[i,:]+learning_rate*(eij*Q[j,:]-r_lambda*P[i,:])
            Q[j,:]=Q[j,:]+learning_rate*(eij*P[i,:]-r_lambda*Q[j,:])
            
        rmse=get_rmse(R,P,Q,non_zeros)
        if (step%10)==0:
            print("###interation step: ",step,"rmse: ",rmse)
            
    return P,Q

In [147]:
def get_unuse_beers(ratings_matrix,userid):
    #userid로 입력받은 사용자의 모든 맥주정보를 추출해 Series로 반환
    #반환된 user_rating은 맥주명(name)을 인덱스로 가지는 Series
    user_rating=ratings_matrix.loc[userid,:]
    
    #user_rating이 0보다 크면 기존에 먹어본 맥주임. 대상 인덱스를 추출해 list로 만듦
    already_use=user_rating[user_rating>0].index.tolist()
    
    #모든 맥주를 list로 만듦
    beers_list=ratings_matrix.columns.tolist()
    
    #list comprehension으로 already_use에 해당하는 맥주는 beers_list에서 제외
    unuse_list=[beer for beer in beers_list if beer not in already_use]
    
    return unuse_list

In [149]:
def recomm_beer_by_userid(pred_df,userid,unuse_list,top_n=10):
    #예측 평점 DataFrame에서 사용자 id 인덱스와 unseen_list로 들어온 맥주명 칼럼을 추출해
    #가장 예측 평점 높은순으로 정렬
    recomm_beers=pred_df.loc[userid,unuse_list].sort_values(ascending=False)[:top_n]
    
    return recomm_beers

In [135]:
ratings_matrix=ratings.pivot_table('rating',index='userid',columns='beerid')
rating_beers=pd.merge(ratings,beers,on='beerid')
ratings_matrix=rating_beers.pivot_table('rating',index='userid',columns='name')
ratings_matrix.head()

name,#9,120 Minute IPA,1554 Black Lager,2XIPA,30th Anniversary Ale,312 Urban Wheat,420 Extra Pale Ale,60 Minute IPA,90 Minute IPA,A Little Sumpin' Sumpin' Ale,...,Wisconsin Belgian Red,Wookey Jack,World Wide Stout,Yellow Rose,Yeti Imperial Stout,Young's Double Chocolate Stout,Yuengling Traditional Lager,Zombie Dust,§ucaba,Éphémère (Apple)
userid,,,,,,,,,,,,,,,,,,,,,
57md,3.56,3.79,NaN,NaN,3.94,3.47,NaN,4.07,4.57,4.18,...,NaN,4.45,3.80,NaN,NaN,4.29,3.06,NaN,NaN,NaN
ALC82,NaN,NaN,3.81,NaN,4.38,3.75,NaN,4.75,4.75,3.98,...,4.73,4.00,NaN,4.49,4.75,NaN,3.50,4.65,4.59,NaN
AgentMunky,3.38,4.32,3.71,NaN,NaN,3.41,3.63,4.18,4.62,4.27,...,NaN,4.16,4.40,NaN,4.28,3.14,NaN,4.12,4.06,3.30
Alieniloquium,NaN,3.65,3.62,NaN,4.12,NaN,NaN,NaN,3.23,NaN,...,4.03,NaN,3.84,4.20,3.43,NaN,NaN,4.54,4.51,NaN
Arbitrator,NaN,1.44,NaN,NaN,NaN,NaN,2.32,NaN,3.77,4.53,...,4.21,4.08,3.43,NaN,4.00,3.56,NaN,4.33,3.45,1.75

In [141]:
P,Q=matrix_factorization(ratings_matrix.values,K=50,steps=200,learning_rate=0.01,r_lambda=0.01)
pred_matrix=np.dot(P,Q.T)

###interation step:  0 rmse:  2.171669536414337
###interation step:  10 rmse:  0.3421079176238525
###interation step:  20 rmse:  0.32248894216534507
###interation step:  30 rmse:  0.29736115770043264
###interation step:  40 rmse:  0.27205401150135283
###interation step:  50 rmse:  0.2513836079432473
###interation step:  60 rmse:  0.23733859811047894
###interation step:  70 rmse:  0.22823872477639232
###interation step:  80 rmse:  0.22250957105860988
###interation step:  90 rmse:  0.21894477452448133
###interation step:  100 rmse:  0.2166449681319744
###interation step:  110 rmse:  0.21506104527200132
###interation step:  120 rmse:  0.2139005151377401
###interation step:  130 rmse:  0.21301001382068704
###interation step:  140 rmse:  0.21230434587409103
###interation step:  150 rmse:  0.2117321386246471
###interation step:  160 rmse:  0.21125999132776918
###interation step:  170 rmse:  0.21086490411356593
###interation step:  180 rmse:  0.2105303768392681
###interation step:  190 rmse:  0.2102442164868498

In [145]:
ratings_pred_matrix=pd.DataFrame(data=pred_matrix,index=ratings_matrix.index,columns=ratings_matrix.columns)

ratings_pred_matrix.head(3)

name,#9,120 Minute IPA,1554 Black Lager,2XIPA,30th Anniversary Ale,312 Urban Wheat,420 Extra Pale Ale,60 Minute IPA,90 Minute IPA,A Little Sumpin' Sumpin' Ale,...,Wisconsin Belgian Red,Wookey Jack,World Wide Stout,Yellow Rose,Yeti Imperial Stout,Young's Double Chocolate Stout,Yuengling Traditional Lager,Zombie Dust,§ucaba,Éphémère (Apple)
userid,,,,,,,,,,,,,,,,,,,,,
57md,3.491058,3.895482,3.810067,3.953143,4.099103,3.512235,3.630594,4.127181,4.371383,4.160650,...,4.216054,4.219030,4.059480,4.174032,4.031368,4.193855,3.283618,4.371344,4.263245,3.742201
ALC82,3.527186,4.224068,3.878804,4.073845,4.438958,3.682903,3.636187,4.559493,4.417126,4.107488,...,4.556500,4.166464,4.049974,4.535854,4.358854,4.242595,3.449014,4.672859,4.598450,3.989939
AgentMunky,3.161790,4.239414,3.781338,4.043413,4.179056,3.218560,3.490664,3.903648,4.424381,4.160561,...,3.790902,4.073713,4.369128,4.224301,4.170000,3.448360,3.041911,4.272644,4.187885,3.279359

In [153]:
unuse_list=get_unuse_beers(ratings_matrix,'ALC82')

recomm_beers=recomm_beer_by_userid(ratings_pred_matrix,'ALC82',unuse_list,top_n=10)

recomm_beers=pd.DataFrame(data=recomm_beers.values,index=recomm_beers.index,columns=['pred_score'])
recomm_beers

                                        pred_score
name
Vanilla Rye Bourbon County Brand Stout    4.827464
No Rules                                  4.767521
Ten FIDY - Bourbon Barrel Aged            4.739068
Cantillon Gueuze 100% Lambic              4.692974
Weihenstephaner Hefeweissbier             4.666220
Double Dry Hopped Melcher Street          4.618334
Péché Mortel                              4.614085
Orval Trappist Ale                        4.610988
Big Bad Baptist                           4.604570
Stickee Monkee                            4.593635