In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

ratings=pd.read_csv('my_df.csv')
ratings.head()

    beer          user  rating
0  47658  bluejacket74    4.97
1  66674  bluejacket74    4.04
2  48824  bluejacket74    3.71
3  55939  bluejacket74    4.10
4  68916  bluejacket74    4.34

In [2]:
ratings=ratings[['user','beer','rating']]
ratings.columns=['userid','beerid','rating']

In [3]:
beers=pd.read_csv('beers.csv')
beers.head()

,id,name,brewery_id,state,country,style,availability,abv,notes,retired
0,202522,Olde Cogitator,2199,CA,US,English Oatmeal Stout,Rotating,7.3,No notes at this time.,f
1,82352,Konrads Stout Russian Imperial Stout,18604,NaN,NO,Russian Imperial Stout,Rotating,10.4,No notes at this time.,f
2,214879,Scottish Right,44306,IN,US,Scottish Ale,Year-round,4.0,No notes at this time.,t
3,320009,MegaMeow Imperial Stout,4378,WA,US,American Imperial Stout,Winter,8.7,Every time this year,f
4,246438,Peaches-N-Cream,44617,PA,US,American Cream Ale,Rotating,5.1,No notes at this time.,f

In [4]:
beers=beers[['id','name','style']]
beers.columns=['beerid','name','style']

In [5]:
g=ratings.groupby('userid')['rating'].count()
top_users=g.sort_values(ascending=False)[:15]
top_users

userid
BEERchitect       460
superspak         455
Knapp85           446
Smakawhat         445
StonedTrippin     442
UCLABrewN84       436
TheManiacalOne    435
brentk56          435
metter98          429
Sammy             426
BEER88            423
zeff80            417
Wasatch           416
russpowell        413
Phyl21ca          405
Name: rating, dtype: int64

In [6]:
g=ratings.groupby('beerid')['rating'].count()
top_beers=g.sort_values(ascending=False)[:15]
top_beers.head()

beerid
1093     323
19960    322
1904     322
11757    321
412      321
Name: rating, dtype: int64

In [7]:
top_r=ratings.join(top_users,rsuffix='r',how='inner',on='userid')
top_r=top_r.join(top_beers,rsuffix='r',how='inner',on='beerid')

pd.crosstab(top_r.userid,top_r.beerid,top_r.rating,aggfunc=np.sum)

beerid,88,412,1013,1093,1160,1444,1708,1904,2093,2671,10672,11757,19960,30420,34483
userid,,,,,,,,,,,,,,,
BEER88,3.75,3.85,3.60,4.21,4.00,4.38,3.99,3.75,3.71,4.06,4.68,4.85,4.01,3.75,4.00
BEERchitect,4.28,4.45,4.45,4.55,4.50,4.55,4.80,4.18,4.27,4.50,4.82,4.45,4.84,4.18,4.23
Knapp85,4.00,4.53,4.00,4.27,4.38,4.05,4.47,3.75,4.45,3.65,4.17,4.50,4.67,4.12,4.35
Phyl21ca,4.00,3.82,4.02,3.95,3.86,4.42,4.41,3.83,4.07,4.00,3.36,2.54,4.25,4.00,3.73
Sammy,3.80,3.83,4.23,4.30,4.42,3.88,4.20,4.08,4.05,3.88,4.23,4.27,4.00,3.73,4.18
Smakawhat,4.38,4.51,3.46,4.33,3.46,4.23,3.52,4.15,4.35,3.70,4.65,4.97,4.85,3.91,3.83
StonedTrippin,4.30,3.70,4.08,4.32,4.33,4.11,4.32,4.21,4.25,4.06,4.42,4.10,4.54,4.10,4.18
TheManiacalOne,4.57,4.40,4.80,4.97,4.53,4.28,4.48,4.25,4.59,4.57,4.42,4.25,4.32,4.60,4.03
UCLABrewN84,4.23,4.48,4.36,4.17,4.95,3.98,4.47,3.72,3.03,4.12,4.77,4.45,4.74,3.18,4.50
Wasatch,4.43,4.43,4.50,4.59,4.60,4.50,4.91,4.17,4.09,4.10,4.93,4.35,4.75,4.33,4.75
brentk56,4.23,4.13,4.43,4.50,4.37,4.38,4.53,4.27,4.82,3.90,4.45,4.85,4.21,4.15,4.38
metter98,4.22,4.33,4.25,4.23,4.28,4.13,4.38,4.20,4.20,4.08,4.34,4.45,4.40,4.03,4.33
russpowell,4.48,4.52,4.27,4.85,4.32,4.66,4.56,4.29,4.85,4.28,4.91,4.41,4.85,4.08,4.48
superspak,4.33,4.36,4.10,4.20,4.35,4.47,4.42,4.13,4.20,4.20,4.62,4.47,4.38,4.25,4.20
zeff80,4.57,4.50,4.64,4.20,4.57,4.47,4.52,4.25,4.62,4.34,4.85,4.45,4.45,4.27,4.50

In [8]:
user_enc=LabelEncoder()
ratings['user']=user_enc.fit_transform(ratings['userid'].values)
n_users=ratings['user'].nunique()

In [9]:
item_enc=LabelEncoder()
ratings['beer']=user_enc.fit_transform(ratings['beerid'].values)
n_beers=ratings['beer'].nunique()

In [10]:
ratings['rating']=ratings['rating'].values.astype(np.float32)
min_rating=min(ratings['rating'])
max_rating=max(ratings['rating'])

In [11]:
n_users, n_beers, min_rating, max_rating

(333, 481, 1.0, 5.0)

In [12]:
X=ratings[['user','beer']].values
y=ratings['rating'].values

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.1,random_state=42)
X_train.shape,X_test.shape,y_train.shape,y_test.shape

((91700, 2), (10189, 2), (91700,), (10189,))

In [13]:
n_factors=50

X_train_array=[X_train[:,0],X_train[:,1]]
X_test_array=[X_test[:,0],X_test[:,1]]

In [14]:
from keras.models import Model
from keras.layers import Input,Reshape,Dot
from keras.layers.embeddings import Embedding
from keras.optimizers import Adam
from keras.regularizers import l2

def RecommenderV1(n_users,n_movies,n_factors):
    user=Input(shape=(1,))
    u=Embedding(n_users,n_factors,embeddings_initializer='he_normal',
               embeddings_regularizer=l2(1e-6))(user)
    u=Reshape((n_factors,))(u)
    
    beer=Input(shape=(1,))
    m=Embedding(n_beers,n_factors,embeddings_initializer='he_normal',
               embeddings_regularizer=l2(1e-6))(beer)
    m=Reshape((n_factors,))(m)
    
    x=Dot(axes=1)([u,m])
    
    model=Model(inputs=[user,beer],outputs=x)
    opt=Adam(lr=0.001)
    model.compile(loss='mean_squared_error',optimizer=opt)
    
    return model

Using TensorFlow backend.

In [15]:
model=RecommenderV1(n_users,n_beers,n_factors)
model.summary()

Model: "model_1"
__________________________________________________________________________________________________
Layer (type)                    Output Shape         Param #     Connected to
==================================================================================================
input_1 (InputLayer)            (None, 1)            0
__________________________________________________________________________________________________
input_2 (InputLayer)            (None, 1)            0
__________________________________________________________________________________________________
embedding_1 (Embedding)         (None, 1, 50)        16650       input_1[0][0]
__________________________________________________________________________________________________
embedding_2 (Embedding)         (None, 1, 50)        24050       input_2[0][0]
__________________________________________________________________________________________________
reshape_1 (Reshape)             (None, 50)           0           embedding_1[0][0]
__________________________________________________________________________________________________
reshape_2 (Reshape)             (None, 50)           0           embedding_2[0][0]
__________________________________________________________________________________________________
dot_1 (Dot)                     (None, 1)            0           reshape_1[0][0]
                                                                 reshape_2[0][0]
==================================================================================================
Total params: 40,700
Trainable params: 40,700
Non-trainable params: 0
__________________________________________________________________________________________________

In [16]:
history=model.fit(x=X_train_array,y=y_train,batch_size=32,epochs=5,verbose=1,
                 validation_data=(X_test_array,y_test))

WARNING:tensorflow:From C:\Users\User\Anaconda3\envs\tf0\lib\site-packages\keras\backend\tensorflow_backend.py:422: The name tf.global_variables is deprecated. Please use tf.compat.v1.global_variables instead.

Train on 91700 samples, validate on 10189 samples
Epoch 1/5
91700/91700 [==============================] - 11s 124us/step - loss: 7.3921 - val_loss: 0.1281
Epoch 2/5
91700/91700 [==============================] - 20s 217us/step - loss: 0.1260 - val_loss: 0.1270
Epoch 3/5
91700/91700 [==============================] - 14s 150us/step - loss: 0.1254 - val_loss: 0.1280
Epoch 4/5
91700/91700 [==============================] - 14s 154us/step - loss: 0.1179 - val_loss: 0.1268
Epoch 5/5
91700/91700 [==============================] - 18s 192us/step - loss: 0.1096 - val_loss: 0.1289

In [17]:
model.evaluate(X_test_array,y_test,batch_size=32)

10189/10189 [==============================] - 1s 61us/step

0.1288562455632371

In [18]:
rate=pd.DataFrame(X_test_array).T
rate.columns=['userid','beerid']
rate=rate.reset_index()

In [19]:
rate=pd.merge(rate,pd.DataFrame(model.predict(X_test_array,batch_size=64)).reset_index(),on='index')
rate

       index  userid  beerid         0
0          0     323     207  4.125707
1          1     235     216  4.234165
2          2     252      34  3.744955
3          3      36     301  3.875405
4          4     327     374  4.089425
...      ...     ...     ...       ...
10184  10184     106     281  4.417428
10185  10185     175     170  3.996636
10186  10186      52       4  4.376624
10187  10187     240      21  4.190644
10188  10188     134     435  4.503708

[10189 rows x 4 columns]

In [20]:
one=pd.DataFrame(X_test,y_test).reset_index()
one=one[[0,1,'index']]

In [21]:
one.columns=['userid','beerid',0]
one

       userid  beerid     0
0         323     207  3.26
1         235     216  4.18
2         252      34  3.80
3          36     301  3.90
4         327     374  4.45
...       ...     ...   ...
10184     106     281  4.75
10185     175     170  4.07
10186      52       4  4.37
10187     240      21  4.05
10188     134     435  4.50

[10189 rows x 3 columns]

In [148]:
len(y_test),len(X_test)

(10189, 10189)

----------------

In [35]:
from keras.layers import Add,Activation,Lambda

class EmbeddingLayer:
    def __init__(self,n_items,n_factors):
        self.n_items=n_items
        self.n_factors=n_factors
        
    def __call__(self,x):
        x=Embedding(self.n_items,self.n_factors,embeddings_initializer='he_normal',
                   embeddings_regularizer=l2(1e-6))(x)
        x=Reshape((self.n_factors,))(x)
        return x
    
def RecommenderV2(n_users,n_beers,n_factors,min_rating,max_rating):
    user=Input(shape=(1,))
    u=EmbeddingLayer(n_users,n_factors)(user)
    ub=EmbeddingLayer(n_users,1)(user)
    
    beer=Input(shape=(1,))
    b=EmbeddingLayer(n_beers,n_factors)(beer)
    bb=EmbeddingLayer(n_beers,1)(beer)
    
    x=Dot(axes=1)([u,b])
    x=Add()([x,ub,bb])
    x=Activation('sigmoid')(x)
    x=Lambda(lambda x: x*(max_rating-min_rating)+min_rating)(x)
    
    model=Model(inputs=[user,beer],outputs=x)
    opt=Adam(lr=0.001)
    model.compile(loss='mean_squared_error',optimizer=opt)
    
    return model

In [36]:
model = RecommenderV2(n_users, n_beers, n_factors, min_rating, max_rating)
model.summary()

Model: "model_2"
__________________________________________________________________________________________________
Layer (type)                    Output Shape         Param #     Connected to
==================================================================================================
input_13 (InputLayer)           (None, 1)            0
__________________________________________________________________________________________________
input_14 (InputLayer)           (None, 1)            0
__________________________________________________________________________________________________
embedding_17 (Embedding)        (None, 1, 50)        16650       input_13[0][0]
__________________________________________________________________________________________________
embedding_19 (Embedding)        (None, 1, 50)        24050       input_14[0][0]
__________________________________________________________________________________________________
reshape_17 (Reshape)            (None, 50)           0           embedding_17[0][0]
__________________________________________________________________________________________________
reshape_19 (Reshape)            (None, 50)           0           embedding_19[0][0]
__________________________________________________________________________________________________
embedding_18 (Embedding)        (None, 1, 1)         333         input_13[0][0]
__________________________________________________________________________________________________
embedding_20 (Embedding)        (None, 1, 1)         481         input_14[0][0]
__________________________________________________________________________________________________
dot_4 (Dot)                     (None, 1)            0           reshape_17[0][0]
                                                                 reshape_19[0][0]
__________________________________________________________________________________________________
reshape_18 (Reshape)            (None, 1)            0           embedding_18[0][0]
__________________________________________________________________________________________________
reshape_20 (Reshape)            (None, 1)            0           embedding_20[0][0]
__________________________________________________________________________________________________
add_2 (Add)                     (None, 1)            0           dot_4[0][0]
                                                                 reshape_18[0][0]
                                                                 reshape_20[0][0]
__________________________________________________________________________________________________
activation_2 (Activation)       (None, 1)            0           add_2[0][0]
__________________________________________________________________________________________________
lambda_1 (Lambda)               (None, 1)            0           activation_2[0][0]
==================================================================================================
Total params: 41,514
Trainable params: 41,514
Non-trainable params: 0
__________________________________________________________________________________________________

In [37]:
history = model.fit(x=X_train_array, y=y_train, batch_size=64, epochs=5,
                    verbose=1, validation_data=(X_test_array, y_test))

Train on 91700 samples, validate on 10189 samples
Epoch 1/5
91700/91700 [==============================] - 9s 103us/step - loss: 0.5423 - val_loss: 0.1262
Epoch 2/5
91700/91700 [==============================] - 8s 88us/step - loss: 0.1151 - val_loss: 0.1147
Epoch 3/5
91700/91700 [==============================] - 9s 98us/step - loss: 0.1065 - val_loss: 0.1125
Epoch 4/5
91700/91700 [==============================] - 9s 104us/step - loss: 0.0973 - val_loss: 0.1121
Epoch 5/5
91700/91700 [==============================] - 10s 104us/step - loss: 0.0872 - val_loss: 0.1135

In [38]:
rate=pd.DataFrame(X_test_array).T
rate.columns=['userid','beerid']
rate=rate.reset_index()
rate=pd.merge(rate,pd.DataFrame(model.predict(X_test_array,batch_size=64)).reset_index(),on='index')
rate

       index  userid  beerid         0
0          0     323     207  4.093886
1          1     235     216  4.143358
2          2     252      34  3.528855
3          3      36     301  3.972125
4          4     327     374  4.066839
...      ...     ...     ...       ...
10184  10184     106     281  4.511925
10185  10185     175     170  3.984248
10186  10186      52       4  4.466011
10187  10187     240      21  4.319586
10188  10188     134     435  4.470703

[10189 rows x 4 columns]